.card {
  box-shadow: 5px 2px 5px 5px #eee;
  padding: 12px;
  list-style: none;

  div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    p {
      margin: 0;
    }
  }
  .buttons-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
